body {
    font-family: 'Nunito Sans', sans-serif;
    height: 80%;
    color: #3a689a;
}

.table th {
    text-align: center;
}

.hero-image {
    background: url(http://tic.matmor.unam.mx/pccmvirtual/img/banner1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    position: relative;
    /*background: #18448E;*/
    min-height: 240px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-pccm {
    /*max-width: 100%;*/
    /*height: auto;*/
    width: 600px;
}

.hero-text {
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
}

.hero-text h1 {
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.hero-text h2 {
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.hero-text h4 {
    font-size: 20px;
    color: #b4e6ff;
}
