{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        <h4>{{ evento }}</h4>
    </div>

    <div class="alert alert-success">
        <strong> <i class="fa fa-check-circle" aria-hidden="true"></i> !Has concluido satisfactoriamente tu registro!,
            recibirás un correo de confirmación.
        </strong>
    </div>

    {% if registro.estudiante == true and (registro.grado == 'Maestría' or registro.grado == 'Licenciatura' or registro.grado == 'Especialidad') %}
        <p class="lead mt-5"><i class="fa fa-warning" aria-hidden="true"></i>
           Posteriormente te enviaremos instrucciones para la conexión al evento.
        </p>
    {% else %}
        <p class="lead mt-5"><i class="fa fa-warning" aria-hidden="true"></i>
            Lamentablemente tenemos cupo limitado y daremos preferencia a estudiantes de licenciatura y maestría. Una semana antes del evento te confirmaremos si tu solicitud es aceptada, y se te avisará por correo electrónico.
        </p>
    {% endif %}

    Puedes visitar esl sitio web del Posgrado Conjunto de Ciencias Matemáticas (PCCM).<br>
    <a class="btn btn-primary" href="http://pccm.umich.unam.mx/" role="button">
        <i class="fa fa-external-link" aria-hidden="true"></i>PCCM UNAM-UMSNH</a>

{% endblock %}
