{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        <h4>{{ evento }}</h4>
    </div>

    <div class="alert alert-success">
        <strong> <i class="fa fa-check-circle" aria-hidden="true"></i> !Tus datos se registraron exitosamente!</strong>
    </div>
    <p class="lead mt-5"><i class="fa fa-envelope" aria-hidden="true"></i> Recibirás un correo de confirmación.</p>

    {% if registro.estudiante == true and (registro.grado == 'Maestría' or registro.grado == 'Licenciatura' or registro.grado == 'Especialidad') %}

        <p class="lead mt-5"><i class="fa fa-warning" aria-hidden="true"></i> Mensaje para estudiante {{ registro.grado }}</p>

    {% else %}
        <p class="lead mt-5"><i class="fa fa-warning" aria-hidden="true"></i> Mensaje para no estudiante o
            un estudiante de {{ registro.grado }}</p>
    {% endif %}

    <a class="btn btn-primary" href="https://matmor.unam.mx/EMALCA20" role="button">
        <i class="fa fa-external-link" aria-hidden="true"></i> Continuar al sitio web</a>

{% endblock %}
