{% extends 'base.html.twig' %}
{% form_theme form 'registro/form_errors.html.twig' %}

{% block title %}Registro{% endblock %}
{% block body %}
    <div class="container">
        <div class="hero-image">
            <div class="container">
                <div class="hero-text text-left">
                    <div class="mb-4">
                        <img class="logo-pccm" src="{{ asset("img/logopccmvirtual.png") }}" width="500px">
                    </div>
                    <h2>Formulario de registro</h2>
                </div>
            </div>
        </div>

        <h3>Registro cerrado</h3>

        {#{{ include('registro/_form.html.twig') }}#}
    </div>
    {% endblock %}


